.post-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.post-wrapper {
    padding-bottom: 40px;
}

.post-header {
    margin: 0;
    font-size: 22px;
}

.post-row-title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.radio-group {
    display: flex;
}

.radio-group > div {
    display: flex;
    margin: 12px 40px 20px 0;
    align-items: center;
}

.radio-group label {
    font-size: 14px;
}

.radio-group input {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.post-description {
    display: flex;
    flex-direction: column;
}

.post-description label{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1f1f1f;
    margin-bottom: 8px;
}

.post-description textarea {
    background: #ffffff;
    padding: 8px;
    height: 100px;
    min-width: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
}

.post-description textarea:hover,  .post-description textarea:focus {
    border-color: var(--color-primary);
}