.user-info {
    position: absolute;
    background-color: #fff;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-info-input {
    padding: 0 20px;
}

.user-info-input h4 {
    text-align: center;
}

.user-info-input > div {
    margin-bottom: 12px;
}

.user-info-btn {
    padding: 0 20px 12px;
    display: flex;
    justify-content: center;
}