doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container
      div.header.clearfix
        h3.text-muted Thanh toán giao dịch
      block content
      footer.footer
        p &copy; VNPAY #{new Date().getFullYear()}