.content {
    flex: 1;
    padding: 0 200px;
    float: left;
}

.loader-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(20, 20, 20, 0.2);
    z-index: 99;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 100;
    margin: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.toast-message-wrapper {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 56px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    z-index: 20;
    max-height: 740px;
    overflow-y: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.toast-enter-active {
    transition: opacity 0.4s, transform 0.4s;
}

.toast-enter-from {
    opacity: 0;
    transform: translateY(-100%);
}   