.header-wrapper, .header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 8px 200px;
}

.header-right {
    display: flex;
    column-gap: 16px;
    position: relative;
}

.header-left h3 {
    font-size: 20px;
    margin-left: 4px;
}


.header-link {
    display: flex;
    align-items: flex-end;
    column-gap: 16px;
    margin-left: 40px;
}

.header-left a {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 500;
}

.header-mid {
    display: flex;
    column-gap: 12px;
    width: 500px;
}

.header-menu {
    position: absolute;
    right: 0;
    top: 48px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 240px;
    padding: 8px;
    z-index: 99;
}

.header-menu > div {
    padding: 12px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.header-menu > div:hover {
    background-color: #cae1fa;
}

.header-menu > div span {
    font-size: 14px;
}